 /* Background Warna */
body {
    background:#ffffff;
}

/* navigasi */
.navigasi {
    display: flex;
}
 .navigasi_1 {
     background-color: #0F4471;
     font-family: montserrat;
     font-weight: 1000;
     padding: 12px ;
     margin: 10px;
}
 .navigasi_1:hover {
     background-color: #cccccc;
     font-family: montserrat;
     font-weight: 1000;
     padding: 12px ;
     margin: 10px;
}

/* Header */
.container_atas {
        display: flex;
        padding: 30px;
        }
.hello {
    background-color: #FC3C3C;
}
.content_dalam_atas {
    display: flexbox;
    padding: 10px;
    text-align: left;
}


/* Isi */
    /* bio */
.bio {
    display: inline-block;
    padding: 40px ;
    text-align: center
}

.dalem_bio {
    text-align: justify;
    font-family: montserrat; 
    color: #1d1b1b
}


    /* sosmed */
.sosmed {
    background-color: #f3f3f3;
    border: solid #0F4471;
    padding: 10px ;
    margin: 10px;
}

.link-sosmed {
    text-align: center;
    color: #2c28f5;
}
.link-sosmed:hover {
    text-align: center;
    color: #aaaaaa;
}


/* footer */
.kaki {
    text-align: center;
    background-color: #FC3C3C;
    color: white;
}
.kaki:hover {
    text-align: center;
    background-color: #ffffff;
    color: #FC3C3C;
}
